body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Nunito;
}

main {
  padding: 10px;
}

header, footer {
  color: #fff;
  background: #222;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0 10px;
}

header {
  height: 86px;
}

footer {
  height: 42px;
}

header h1 {
  display: flex;
  padding: 0;
  margin: 0;
}

header h1 a {
  display: flex;
  align-items: center;
}

header h1, header img {
  filter: invert(50%);
  max-height: 95%;
}

header img {
  margin-right: 20px;
}

header a {
  color: #fff;
  text-decoration: none;
}
